/* Resets and overrides */

*{
	box-sizing:border-box;
	margin:0px;
	border;0px;
}

/*Elemets*/
body html {
	width: 100%;
	width: 100vw;
	padding: 0;
	margin: 0;
}

img {
	width: auto;
	height: auto;
	max-width: 100%;
}



a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	position:relative;
	color: black;
}

	
a:hover {
	background-color: black;
	border-left: 6px solid silver;
	color: silver;
}

ul {
	list-style:none;
}

li {
	padding: 0;
	dispay: block;
	margin: 10px 0 0 0;
}

form {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* To see the outline of the form 
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
	*/
}

form div + div {
  margin-top: 1em;

}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 200px;
  text-align: left;

}

input[type=text], textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text fields */
  width: 300px;
  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;
}



button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}


/*id*/
#header{
	text-align: center;
	background-color:DodgerBlue;
	flex: 0 0 100%;
}

#indexpage{
	flex: 0 0 100%;
}

#nav-vert{
	background-color:DodgerBlue;
}

#nav-hort{
	background-color:DodgerBlue;
}

#footer{
	background-color:DodgerBlue;
	
}

#totals {
	position: fixed;
	top:100px;
	right: 0;
}

/*class*/


.flex-row{
	display:flex;
	flex-wrap:nowrap;
	text-align:center;
	justify-content:center;
	
}

.flex-column{
	display:flex;
	flex-direction:column;
}

.placemark{
	background-color:DodgerBlue;
	margin: 5px;
	padding: 5px;
	text-align: left;
	
}

.Personal{
	background-color:DeepSkyBlue;
	color:Dimgrey;
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px; /* same size as the label elements */
}

